.titleh {font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    width: 378px;
    height: 60px;
}
/* h2 */
.wawd, .our-team {font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;}
/* h3 */
.title3 {
    font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
}
/* body */
.body {font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;}
/* small-text */
    .small-text {font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: #2E2F42;}
